__pycache__/
*.pyc
.env
.vscode/
.DS_Store

08 Backups/
09 Archive/

*.sqlite
*.db
*.bak
01 Raw Imports/

01 Raw Imports/

02 Working Data/
03 Database/
06 Reports/private/
*.sqlite3
*.db
*.bak

.venv/
notes/
documents/
